<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- servise -->

    <bean id="weatherService" class="weatherBroker.service.impl.WeatherServiceImpl">

    </bean>

    <bean id="factoryRestResult" class="weatherBroker.controller.eventResult.FactoryRestResult">

    </bean>

   <!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list></property>
    </bean>

    <bean id="restJsonMarshalView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
    -->

</beans>